// Choose a darker color
$breadcrumb-color: white;
// Bootstrap Blue (#0d6efd) is default here. Other colors: orangered, goldenrod, purple, steelblue, lightgreen
$breadcrumb-bg: $primary;
$breadcrumb-bg-level-1: darken($breadcrumb-bg,5%);
$breadcrumb-bg-level-2: darken($breadcrumb-bg,9%);
$breadcrumb-bg-level-3: darken($breadcrumb-bg,13%);
$breadcrumb-bg-level-4: darken($breadcrumb-bg,17%);
$breadcrumb-bg-level-5: darken($breadcrumb-bg,21%);
$breadcrumb-bg-level-6: darken($breadcrumb-bg,25%);

.breadcrumb-nav {
    background-color: $breadcrumb-bg;
    ol.breadcrumb{
      background-color: $breadcrumb-bg;
      overflow: hidden;
      li{
        position: relative;
        height: 2rem;
        line-height: 2rem;
        padding-left: 1.2rem !important;
        padding-right: .6rem;
        color: $breadcrumb-color !important;
        transition: all .2s ease-in-out;
        a{
          text-transform: uppercase;
          font-size:.8rem;
          height: 2rem;
          display: flex;
          align-items: center;
          color: $breadcrumb-color;
          text-decoration: none;
        }
        &:before{
          display: none;
        }
        &:after{
          position: absolute;
          right: -1.7rem;
          top: 0;
          content: "";
          display: block;
          width: 1rem;
          height: 1rem;
          border-right: 1rem solid transparent;
          border-bottom: 1rem solid transparent;
          border-top: 1rem solid transparent;
          border-left: 1rem solid blue;
        }
        &:first-child{
          background-color: $breadcrumb-bg-level-1;
          z-index: 20;
          padding-left: .85rem !important;
          &:after{
            border-left: 12px solid $breadcrumb-bg-level-1;
          }
        }
        &:nth-child(2){
          background-color: $breadcrumb-bg-level-2;
          z-index: 19;
          &:after{
            border-left: 12px solid $breadcrumb-bg-level-2;
          }
        }
        &:nth-child(3){
          background-color: $breadcrumb-bg-level-3;
          z-index: 18;
          &:after{
            border-left: 12px solid $breadcrumb-bg-level-3;
          }
        }
        &:nth-child(4){
          background-color: $breadcrumb-bg-level-4;
          z-index: 17;
          &:after{
            border-left: 12px solid $breadcrumb-bg-level-4;
          }
        }
        &:nth-child(5){
          background-color: $breadcrumb-bg-level-5;
          z-index: 16;
          &:after{
            border-left: 12px solid $breadcrumb-bg-level-5;
          }
        }
        &:nth-child(6){
          background-color: $breadcrumb-bg-level-6;
          z-index: 15;
          &:after{
            border-left: 12px solid $breadcrumb-bg-level-6;
          }
        }
        &:hover{
          filter: drop-shadow(1px 1px 10px rgba(black,.5));
        }
      }
      &.breadcrumb-responsive{
        flex-wrap: nowrap !important;
        overflow-x: scroll;
        li,
        li a{
          white-space: nowrap !important;
        }
      }
    }
}
