<footer class="bg-body-secondary">
    <div class="container py-5">
        <div class="row row-cols-1 row-cols-md-3 g-3 g-md-4 g-lg-5">
            <div class="col">
                <f:cObject typoscriptObjectPath="lib.dynamicContent" data="{colPos: '20', slide: '-1'}" />
            </div>
            <div class="col">
                <f:cObject typoscriptObjectPath="lib.dynamicContent" data="{colPos: '21', slide: '-1'}" />
            </div>
            <div class="col">
                <f:cObject typoscriptObjectPath="lib.dynamicContent" data="{colPos: '22', slide: '-1'}" />
            </div>
        </div>
    </div>
    <div class="px-2 py-3 bg-body-tertiary d-flex justify-content-center align-items-center">
        <div class="small m-0">
            &copy 2025 by <a href="https://kohlercode.com" target="_blank">kohlercode.com</a> Powered by <a href="https://github.com/fullstackfreelancer/business_theme" target="_blank">Business Theme for TYPO3</a>
        </div>
        <f:if condition="{settings.theme.contrast} == 'auto' && {settings.theme.enable.contrast_toggle} && {settings.theme.contrast_toggle_position} == 'footer'">
        <div class="dropup ms-3">
            <a href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false" title="Toggle Contrast">
                <i class="bi-circle-half"></i>
            </a>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#" data-bs-theme-value="light"><i class="bi-sun"></i> Light</a></li>
                <li><a class="dropdown-item" href="#" data-bs-theme-value="dark"><i class="bi-circle-half"></i> Dark</a></li>
            </ul>
        </div>
        </f:if>
        <f:if condition="{settings.language_menu.position} == 'footer'">
            <div class="dropup ms-3">
                <a href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false" title="Choose Language">
                    <i class="bi-globe"></i>
                </a>
                <ul class="dropdown-menu">
                    <f:for each="{languageMenu}" as="item">
                    <li class="{f:if(condition: item.active, then: 'active')} {f:if(condition: item.available, else: 'text-muted')}">
                        <a class="dropdown-item" href="{item.link}" hreflang="{item.hreflang}" title="{item.title}">{item.navigationTitle}</a>
                    </li>
                    </f:for>
                </ul>
            </div>
        </f:if>
    </div>
</footer>
