<footer class="bg-dark-subtle">
    <div class="container py-5">
        <div class="row">
            <div class="col">
                Footer 1
            </div>
            <div class="col">
                Footer 2
            </div>
            <div class="col">
                Footer 3
            </div>
        </div>
    </div>
    <div class="text-center px-2 py-3 bg-black">
        <p class="small m-0">&copy 2025 by <a href="https://kohlercode.com" target="_blank">kohlercode.com</a> Powered by <a href="https://github.com/fullstackfreelancer" target="_blank">Business Theme for TYPO3</a></p>
    </div>
</footer>
