<footer class="bg-dark-subtle">
    <div class="container py-5">
        <div class="row row-cols-1 row-cols-md-3 g-3 g-md-4 g-lg-5">
            <div class="col">
                <f:if condition="{footerMenu}">
                <ul class="nav flex-column">
                <f:for each="{footerMenu}" as="item">
                <li class="nav-item""><a class="nav-link" href="{item.link}"><i class="bi-chevron-right"></i> {item.title}</a></li>
                </f:for>
                </ul>
                </f:if>
            </div>
            <div class="col">
                <p>Suspendisse potenti. Fusce nec mauris id mi sodales vestibulum. Integer commodo enim sed turpis luctus facilisis. Nam at leo dolor. Praesent lacinia nibh tellus, eget fringilla magna porttitor sit amet. Donec facilisis vehicula ante a convallis. Integer consectetur, metus ac gravida aliquet, mauris turpis iaculis quam, nec sodales lectus leo eu arcu.</p>
            </div>
            <div class="col">
                <p>Suspendisse potenti. Fusce nec mauris id mi sodales vestibulum. Integer commodo enim sed turpis luctus facilisis. Nam at leo dolor. Praesent lacinia nibh tellus, eget fringilla magna porttitor sit amet. Donec facilisis vehicula ante a convallis. Integer consectetur, metus ac gravida aliquet, mauris turpis iaculis quam, nec sodales lectus leo eu arcu.</p>
            </div>
        </div>
    </div>
    <div class="text-center px-2 py-3 bg-black">
        <p class="small m-0">&copy 2025 by <a href="https://kohlercode.com" target="_blank">kohlercode.com</a> Powered by <a href="https://github.com/fullstackfreelancer/business_theme" target="_blank">Business Theme for TYPO3</a></p>
    </div>
</footer>
